:root 
{
    --color-primary: hsl(0, 96%, 50%);
    --color-white:white;
    --color-black: #141d28;
    --color-black-1: #212b38;
}
  
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body 
{
    font-family: sans-serif;
   
}
  
.logo 
{
    color: var(--color-white);
    font-size: 30px;
}
  
.logo span 
{
    color: var(--color-primary);
}
  
.menu-bar
{
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;  
    position: relative;
}
  
.menu-bar ul 
{
    list-style: none;
    display: flex;
}
  
.menu-bar ul li 
{

    padding: 10px 30px;  
    position: relative;
}
  
.menu-bar ul li a 
{
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;  
    transition: all 0.3s;
}
  
.menu-bar ul li a:hover 
{
    color: var(--color-primary);
}
  
.fas 
{
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}
.dropdown-menu 
{
    display: none;
}
  
.menu-bar ul li:hover .dropdown-menu 
{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
}
.menu-bar ul li:hover .dropdown-menu ul 
{
    display: block;
    margin: 10px;
}
  
.menu-bar ul li:hover .dropdown-menu ul li 
{
    width: 150px;
    padding: 10px;
}
  
.dropdown-menu-1 
{
    display: none;
}
  
.dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
}
  
.hero 
{
    height: calc(100vh - 80px);
    background-image: url(./bg.jpg);
    background-position: center;
}
a
{
      text-decoration: none;
      color: palevioletred;
      font-size: 28px;
}
body 
{
    font-family: "Roboto", sans-serif;
    background: #ecf0f1;
    color: #2c3e50;
}
  
h1 
{
    margin: 25px 12px;
    text-align: center;    
    padding-left: 16px;
}
  
.container 
{
    padding: 10px;
    height: 50vh;
    display: flex;
    flex-direction: column;
}
.container h1{
    margin-top: 45;
    margin: 25px 25px;
    text-align: center;    
    padding-left: 16px;
}
.container .group 
{
    padding: 8px 48px;
    margin: 10px;
    margin-left: 15px;
}
  
input[type="checkbox"] {
    display: none;
}
  
label {
    position: relative;
}
  

.button{  
    text-align: center;

}  
#btn{  
    font-size: 25px;  
}
.imgback{
    width: 100%;
    height: 200px;

}
.header{
    background-color: blue;
    height: 200px;
    margin: 0;
    border: 0ch;

}
.header img {
    border-radius: 50%;
    width: 180px;
    margin-left: 140px ;
    margin-top: 40px;
  }
.name{
    margin: 10px;
}
.box 
{
    border: 1px solid black;
    margin: 0;
    padding: 2rem 2rem;
    height: 10.3cm;
}
.box11 label
{
    margin: 10px;
    width: 200px;
    display: inline-block;
}
.box1 
{

    display: inline-block;
    vertical-align: middle;
    justify-content: safe;
}
.box11{
    border: 1px solid whitesmoke;
    margin-left: 100px;
    margin-right: 60px;
    height: 9cm;
    margin-top: 20px ;

}
.box12{
    border: 1px solid whitesmoke;
    margin: 40px;
    width: 530px;
    height: 7.1cm;
    text-align: center;
}
.box121{
    border: 1px solid black;
}
.box122{
    margin-top: 70px;
    border: 1px solid rgb(77, 76, 76);
}
.text{
    display: inline;
}
#btn{  
    font-size: 25px; 
    border: #ecf0f1; 
}
.at1{
    color: red;
}
.bt1{
    color: blue;

}
